[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
netaddr = "*"
python-geoip = "*"
win-inet-pton = "*"
geopy = "*"
geoip2 = ">=2.9.0"
python-geoip-python3 = "*"

[dev-packages]

[requires]
python_version = "3.10"
