#
# Python dependencies for running on GeoLogonalyzer.py
#
# Usage:
#   pip install -r requirements.txt
#
netaddr
python-geoip-python3
win_inet_pton
geopy
geoip2>=2.9.0
importlib-metadata
