#
# Python dependencies for running on GeoLogonalyzer.py
#
# Usage:
#   pip install -r requirements.txt
#
netaddr==1.3.0
python-geoip-python3==1.3
win_inet_pton==1.1.0
geopy==2.4.1
geoip2>=5.2.0
importlib-metadata==9.0.0
